[Unit]
Description=Start/teardown apriltags stuff
#After=network.target

[Service]
Type=oneshot
ExecStart=/bin/AprilTags/AprilTagsManager.sh start
RemainAfterExit=true
ExecStop=/bin/AprilTags/ApriltagsManager.sh stop
StandardOutput=journal
#Restart=always

[Install]
WantedBy=multi-user.target
